{% include 'homecommon.html' %}
{% load static %}
<br>
<br>
<div class="container">
     <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">About Us <span class="text-muted">Who we Are</span></h2>
                <p class="lead">Description of the Student Profile Place these pages next to your worksheet to help you complete the profile. Sections will naturally overlap, so do not worry about what goes where, the information is what is important.
        <br>A]  Likes and Dislikes ñ Activities, situations that your child really enjoys and what your child would rather avoid. An example: ìSam enjoys playing games of any kind. Doing chores is easy if we can add an element of fun, surprise or competition.</p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'images/stu2.jpg' %}"
                    class=" img-fluid bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    width="500" height="500" alt="">
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
    <div class="container">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Quality Education <span class="text-muted">It’ll blow your
                        mind.</span></h2>
                <p class="lead">
                    B] Strengths and Abilities ñ What your child is learning and doing socially. Think of specific ways your child has learned to do something that may open doors for learning new skills. What is enjoyable, fun, or motivating? An example: ìPeggy loves to help in the kitchen. She seems to like the orderliness of following a recipe. Though she canís read the regular recipe, she follows two and three step directions without being prompted ñ adding and mixing ingredients.

                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{% static 'images/stu3.jpg' %}"
                    class=" img-fluid bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    width="500" height="500" alt="">
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
    <div class="container">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Easy Learning <span class="text-muted">Make your Dreams Come True</span></h2>
                <p class="lead">
                    C] Challenges ñ Activities or skills that is not easy or possible to do. What seems to be the biggest hurdles, the hardest challenges? An example: ìSince Jimís use of his arms and hands requires a lot of energy and he tires quickly, we try to save that energy for what is important. Getting ready for school he really wants to comb his hair himself ñ he knows just what looks cool!

                </p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'images/stu4.jpg' %}"
                    class=" img-fluid bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    width="500" height="500" alt="">
            </div>
        </div>

    </div>

</div>

          <hr class="featurette-divider">
    <footer class="container my-5">
        <p class="float-right"><a   href="#">Back to top</a></p>
        <p>© 2020-2021 Developer Station, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        <p>Developer- <a href="#">Sagar Yadav</a></p>
    </footer>